<main class="flex flex-col h-screen bg-white">

  <div class="box-error">
    <p class="box-error-code">404</p>
    <p class="box-error-title">Página não encontrada!</p>
    <p class="box-error-message">Desculpe, não foi possível encontrar a página que você está procurando.</p>
    <div class="flex mt-10 items-center justify-center gap-x-6">
      <a href="/" class="btn-indigo btn-mini btn-focus tracking-wide text-sm shadow-xs">
        <span>Ir para página inicial</span>
      </a>
    </div>
  </div>

</main>
